* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f7f7f7;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 5px;
}

.border {

	border-bottom-left-radius: 5px;
}

header {
	flex-wrap: wrap;
	align-items: center;
	border: 5px solid;
	border-radius: 5px;
}

.name-photo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
  }
  
  .name-photo .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
  }
  
  .name-photo h1 {
	margin-bottom: 0;
  }
  
  .name-photo p {
	margin-top: 5px;
  }  


.footer {
	background-color: #333;
	max-width: 800px;
	margin: 0 auto;
	border: 20px solid #333;
	color: #f7f7f7;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #f7f7f7;
	background-color: #333;
	border-bottom-right-radius: 5px;
}

p {
	font-size: 18px;
	flex: 1 1 100%;
}

.contact-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	margin-top: 20px;
}

.contact-list li {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.contact-list li a {
	color: #333;
	text-decoration: none;
}

.contact-list li a:hover {
	color: #0077b5;
}

.contact-list li i {
	margin-right: 5px;
	font-size: 20px;
}

.fa {
    text-align: center;
    min-width: 1em;
}

.about-me {
	margin-top: 30px;
}

.about-me p {
	margin-top: 20px;
}

.skills {
	margin-top: 30px;
}

.skill-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	list-style: none;
	color: #31bfff;
}

.skill-list li {                     /*Поиграться с тенями*/
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.code-examples {
	margin-top: 30px;
}

.code-list {
	list-style: none;
}

.code-list li {
	margin-top: 20px;
}

.code-list li a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

.code-list li
{
	display: block;
	font-size: 18px;
	margin-top: 5px;
	}
	
	.code-list li a:hover {
	color: #0077b5;
	}
	
	.work-experience {
	margin-top: 30px;
	border: 5px solid#333;
    border-radius: 5px;
	}
	
	.work-list {
	list-style: none;
	}
	
	.work-list li {
	margin-top: 20px;
	}
	
	.work-list h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	}
	
	.work-list p {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 10px;
	}
	
	.work-list ul {
	list-style: disc;
	margin-left: 20px;
	margin-bottom: 10px;
	}
	
	.work-list ul li {
	font-size: 18px;
	margin-top: 5px;
	}
	
	.education {
	margin-top: 30px;
	}
	
	.education-list {
	list-style: none;
	}
	
	.education-list h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	}
	
	.education-list p {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 10px;
	}
	
	h2 {
		background-color: #333;
		color: #f7f7f7;
		border-radius:5px;
	}

	@media only screen and (max-width: 600px) { /*если экран меньше 600 то используется ксс ниже*/
	.contact-list {
	flex-wrap: wrap;
	}
	.contact-list li {
		flex: 1 1 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	
	.skills {
		margin-top: 20px;
	}
	
	.skill-list {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
	
	.code-list li {
		margin-top: 10px;
	}
	
	.work-list h3 {
		font-size: 22px;
		margin-bottom: 5px;
	}
	
	.work-list p {
		font-size: 16px;
	}
	
	.work-list ul {
		margin-left: 0;
	}
	
	.work-list ul li {
		font-size: 16px;
		margin-top: 2px;
	}
	
	.education-list h3 {
		font-size: 22px;
		margin-bottom: 5px;
	}
	
	.education-list p {
		font-size: 16px;
	}

	}	